.page {
  padding: 40px 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue-500);
}

.content {
  height: 100%;

  padding-top: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .group {
    width: 80px;
    height: 80px;

    border-radius: 24px;

    object-fit: contain;

    background: var(--base-white);
  }

  .subscribe {
    width: 100%;
    max-width: 500px;
  }
}
