@use "style/mixins/actions";

.level {
  min-width: 200px;
  height: 200px;

  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 12px solid var(--purple-400);

  border-radius: 50px;

  background: var(--purple-200);

  &:first-child {
    margin-left: 60px;
  }

  &:last-child {
    margin-right: 80px;
  }

  &Locked {
    border-radius: 50px;

    background-color: var(--purple-950, #3B0764);

    &Next {
      gap: 16px;
    }
  }

  .general {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .image {
      width: 50px;
      height: 50px;

      position: relative;

      .levelIcon {
        width: 100%;
        height: 100%;

        &Locked {
          filter: brightness(0) saturate(100%) invert(39%) sepia(34%) saturate(4926%) hue-rotate(248deg) brightness(100%) contrast(95%);
        }
      }

      .lock {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .title {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;

      text-align: center;

      color: var(--purple-700);

      &Locked {
        color: var(--base-white);
      }
    }
  }

  .progress {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    .bar {
      width: 70px;
      height: 4px;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;

      border-radius: 3px;

      overflow: hidden;

      background: var(--purple-800, #6B21A8);

      .line {
        height: 4px;

        background: var(--base-white, #FFF);
      }
    }

    .data {
      display: flex;
      align-items: center;
      gap: 5px;

      .coin {
        width: 14px;
        height: 14px;

        filter: brightness(0) saturate(100%) invert(88%) sepia(92%) saturate(5861%) hue-rotate(184deg) brightness(129%) contrast(98%);
      }

      .score {
        display: flex;
        gap: 5px;

        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;

        text-align: center;

        color: var(--base-white);
      }
    }
  }
}