.page {
  background: var(--violet-500);
}

.content {
  padding: 40px 0 20px;

  align-items: center;
}

.level {
  width: 80px;
  height: 80px;

  padding: 20px;

  border-radius: 16px;

  background: var(--purple-200);
}
