@use "style/mixins/actions";

.button {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 50%;

  color: var(--base-white);
  background: var(--base-black);

  @include actions.hover {
    transition: all .3s ease;

    opacity: 0.3
  }

  &.play {
    width: auto;

    padding: 0 25px;

    animation: breath 1.5s ease infinite alternate;

    border-radius: 25px;
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}