@use "style/mixins/actions";

.button {
  padding: 15px 30px;

  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  outline: none;
  border: none;
  border-radius: 35px;

  transition: transform .3s ease;

  background: var(--base-white, #fff);

  @include actions.hover {
    transform: scale(1.1);
  }
}

.star {
  width: 24px;
  height: 24px;

  position: absolute;

  &.first {
    top: -5px;
    left: -1px;
  }

  &.second {
    width: 18px;
    height: 18px;

    right: 0;
    bottom: 0;
  }
}
