@use "style/mixins/actions";

.button {
  width: 100%;

  padding: 8px 10px;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;

  cursor: pointer;

  border-radius: 18px;

  transition: all .3s ease;

  color: var(--base-white);

  background: var(--emerald-600);

  &:not(:disabled) {
    @include actions.hover {
      opacity: .7;
    }
  }

  &.select {
    color: var(--emerald-500);
    background: var(--base-white);
  }
}
