.content {
  width: 100%;
  height: 100%;

  padding: 16px 24px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &.largePadding {
    padding: 40px 24px 20px;
  }
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;

  color: var(--base-white, #FFF);

  .title {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 34px;
  }

  .description {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}

.record {
  width: fit-content;

  padding: 10px 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  border: 8px solid var(--violet-200, #DDD6FE);
  border-radius: 43.796px;

  background: var(--violet-700, #6D28D9);

  .icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }

  .results {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

    color: var(--base-white)
  }
}

.group {
  width: 80px;
  height: 80px;

  border-radius: 24px;

  background: var(--base-white);
}

.level {
  width: 80px;
  height: 80px;

  padding: 20px;

  border-radius: 16px;

  background: var(--purple-200);
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
