@use "style/mixins/actions";

.goods {
  min-width: 160px;
  height: 160px;

  padding: 21px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 30px;

  background: var(--base-white);

  &.unlocked {
    background: var(--emerald-600);
  }

  &:first-child {
    margin-left: 60px;
  }

  &:last-child {
    margin-right: 80px;
  }

  .content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .head {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      gap: 12px;

      .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;

        text-align: center;

        color: var(--emerald-500);

        &.unlocked {
          color: var(--base-white);
        }
      }

      .icon {
        width: 42px;
        height: 42px;

        &.unlocked {
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7446%) hue-rotate(186deg) brightness(113%) contrast(100%);
        }
      }
    }

    .buy {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      .coin {
        width: 12px;
        height: 12px;

        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7446%) hue-rotate(186deg) brightness(113%) contrast(100%);
      }
    }
  }
}