.layout {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

.background {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  object-fit: contain;
  object-position: center;
}

.content {
  width: 100%;
  height: 100%;

  padding: 0 calc(env(safe-area-inset-top) + 50px) 0 50px;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;
}
