@use "style/mixins/actions";

.item {
  min-width: 160px;
  height: 160px;

  padding: 21px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 30px;

  background: var(--base-white);

  &:first-child {
    margin-left: 60px;
  }

  &:last-child {
    margin-right: 80px;
  }
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 12px;

    color: var(--emerald-500);

    .title {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;

      text-align: center;
    }

    .icon {
      width: 42px;
      height: 42px;

      fill: currentcolor;
    }
  }

  .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .coin {
      width: 12px;
      height: 12px;

      fill: var(--base-white);
    }
  }
}

.item.unlocked {
  background: var(--emerald-600);

  .head {
    color: var(--base-white);
  }
}
