@use "style/mixins/actions";

.button {
  width: 24px;
  height: 24px;

  cursor: pointer;

  border-radius: 50%;

  transition: transform .3s ease;

  background: var(--base-white, #fff);

  @include actions.hover {
    transform: scale(1.1);
  }
}
