@use "style/mixins/actions";

.page {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.game {
  display: grid;

  &.size6 {
    grid-template-columns: repeat(3, 90px);
    gap: 20px;
    grid-template-rows: repeat(2, 90px);

    .icon {
      width: 48px;
      height: 48px;
    }
  }

  &.size8 {
    grid-template-columns: repeat(4, 90px);
    gap: 20px;
    grid-template-rows: repeat(2, 90px);

    .icon {
      width: 48px;
      height: 48px;
    }
  }

  &.size10 {
    grid-template-columns: repeat(5, 80px);
    gap: 20px;
    grid-template-rows: repeat(2, 80px);

    .icon {
      width: 42px;
      height: 42px;
    }
  }

  &.size12 {
    grid-template-columns: repeat(6, 80px);
    gap: 20px;
    grid-template-rows: repeat(2, 80px);

    .icon {
      width: 42px;
      height: 42px;
    }
  }

  &.size14 {
    grid-template-columns: repeat(7, 70px);
    gap: 16px;
    grid-template-rows: repeat(2, 70px);

    .icon {
      width: 36px;
      height: 36px;
    }
  }

  &.size18 {
    grid-template-columns: repeat(6, 64px);
    gap: 14px;
    grid-template-rows: repeat(3, 64px);

    .icon {
      width: 32px;
      height: 32px;
    }
  }

  &.size24 {
    grid-template-columns: repeat(8, 56px);
    gap: 14px;
    grid-template-rows: repeat(3, 56px);

    .icon {
      width: 27px;
      height: 27px;
    }
  }
}
